<html>

<head>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>
    <pre><%=query%></pre>
    <h2>Total: <%=total%></h2>
    <h2>Count: <%=count%></h2>
    <table>
        <tr>
            <th>Lastname</th>
            <th>Firstname</th>
        </tr>
        <% for(var i=0; i<count; i++) {%>
        <tr>
            <td><%=documents[i]['lastname']%></td>
            <td><%=documents[i]['firstname']%></td>
        </tr>
        <% } %>
    </table>
</body>

</html>